




<section class="section-5">
    <div *ngIf=" mayEdit()"  class="alert alert-warning" >
        You are not allowed to apply to this job, try to login as user.
      </div>
      <div *ngIf="loginToApply()"  class="alert alert-warning" >
        Please login first to apply.
      </div>
    <div class="container my-5">
        <div class="py-lg-2">&nbsp;</div>
        <div class="row d-flex justify-content-center">
            <div class="col-md-30">
                
                <div class="button-actions">
                    <button type="button" *ngIf=" mayEdit()" class="btn btn-primary" (click)="enableForm()">Edit</button>
                    <button type="button" *ngIf=" mayEdit()" class="btn btn-danger" (click)="deleteJob()">Delete</button>
                    <button type="button" *ngIf=" mayApply()" class="btn btn-primary" (click)="apply()">Apply</button>
                    <button type="button"  class="btn btn-primary" (click)="downloadPdf()">Download pdf</button>

                </div>
                <div class="card shadow border-0 p-5">
                    <h1 class="h3">{{ title.value }}</h1>
                    <form [formGroup]="editJobForm">
                        <div class="row mb-3">
                            <div class="col-md-30" [ngClass]="{ 'is-invalid': !title!.valid && title!.touched }">
                                <label for="first_name" class="mb-2">Title*</label>
                                <input type="text" formControlName="title"
                                    [ngClass]="{ 'is-invalid': !title!.valid && title!.touched }" class="form-control"
                                    required />
                                <div *ngIf="!title!.valid && title!.touched" class="text-danger">Title is required.
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label for="email" class="mb-2">Years of experience (number)*</label>
                                <input type="number" formControlName="experience"
                                    [ngClass]="{ 'is-invalid': !experience!.valid && experience!.touched }"
                                    class="form-control" required />
                                <div *ngIf="!experience!.valid && experience!.touched" class="text-danger">Experience is
                                    required.</div>
                            </div>
                            <div class="col-md-6">
                                <label for="phone" class="mb-2">Salary per month (double)*</label>
                                <input type="number" formControlName="salary"
                                    [ngClass]="{ 'is-invalid': !salary!.valid && salary!.touched }" class="form-control"
                                    required />
                                <div *ngIf="!salary!.valid && salary!.touched" class="text-danger">Salary is required.
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label for="password" class="mb-2">Contract type*</label>
                                <select formControlName="contractType" class="form-control">
                                    <option [selected]="true">Select contract type</option>
                                    <option value="Permanent">Permanent</option>
                                    <option value="Freelance">Freelance</option>
                                    <option value="FixedTerm">FixedTerm</option>
                                    <option value="Internship">Internship</option>

                                </select>
                                <div *ngIf="!contractType!.valid && contractType!.touched" class="text-danger">Contract
                                    type is required.</div>
                            </div>
                            
                           
                            <div  class="col-md-6">
                                <app-select-company [companyId]="companyId" [isDropdownDisabled]="editDropDown"></app-select-company>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label for="password" class="mb-2">Job type*</label>
                                <select formControlName="jobType" class="form-control">
                                    <option [selected]="true">Select job type</option>
                                    <option value="FULL_TIME">Full time</option>
                                    <option value="PART_TIME">Part time</option>
                                </select>
                                <div *ngIf="!jobType!.valid && jobType!.touched" class="text-danger">Job type is
                                    required.</div>
                            </div>

                            <div class="col-md-6">
                                <label for="password" class="mb-2">Level of education*</label>
                                <select formControlName="levelOfEducation" class="form-control">
                                    <option [selected]="true">Select Level of education</option>
                                    <option value="Secondary_Education"> Secondary Education</option>
                                    <option value="Specialisation">Specialisation</option>
                                    <option value="Bachelor">Bachelor</option>
                                    <option value="Master">Master</option>
                                    <option value="Doctorate">Doctorate</option>
                                </select>
                                <div *ngIf="!levelOfEducation!.valid && levelOfEducation!.touched" class="text-danger">
                                    Level of education is required.</div>
                            </div>

                        </div>
                        <div class="col-md-12">
                            <label for="last_name" class="mb-2 description">Description*</label>
                            <textarea type="text" formControlName="description"
                                [ngClass]="{ 'is-invalid': !description!.valid && description!.touched }"
                                class="form-control description-textarea" required ></textarea>
                            <div *ngIf="!description!.valid && description!.touched" class="text-danger">Description
                                is required.</div>
                        </div>
                        <app-address [addressFormGroup]="address"></app-address>

                        <div class="border-top mt-4 pt-4">
                            <h3>Skills</h3>
                            <div id="skills-container">
                                <div class="row mb-3" formArrayName="skills"
                                    *ngFor="let skill of skills.controls; let i = index">
                                    <div class="col-md-10">
                                        <input type="text" [formControlName]="i" class="form-control"
                                            placeholder="Enter Skill" />
                                    </div>
                                    <div class="col-md-2">
                                        <button 
                                        type="button"
                                         class="btn btn-danger"
                                         (click)="removeSkill(i)"
                                         [hidden]="editJobForm.disabled"
                                         >Remove</button>
                                    </div>
                                </div>
                                <button 
                                type="button"
                                 class="btn btn-primary"
                                  (click)="addSkill()"
                                  [hidden]="editJobForm.disabled"
                                  >Add Skill</button>
                            </div>
                        </div>

                        <div class="border-top mt-4 pt-4">
                            <h3>Responsibilities</h3>
                            <div id="skills-container">
                                <div class="row mb-3" formArrayName="responsibilities"
                                    *ngFor="let responsibility of responsibilities.controls; let i = index">
                                    <div class="col-md-10">
                                        <input type="text" [formControlName]="i" class="form-control"
                                            placeholder="Enter Skill" />
                                    </div>
                                    <div class="col-md-2">
                                        <button type="button" class="btn btn-danger"
                                        [hidden]="editJobForm.disabled" (click)="removeResponsibility(i)">Remove</button>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-primary"  [hidden]="editJobForm.disabled" (click)="addResponsibility()">Add
                                    Skill</button>
                            </div>
                        </div>

                        <div class="border-top mt-4 pt-4">
                            <h3>Benefits</h3>
                            <div id="skills-container">
                                <div class="row mb-3" formArrayName="benefits"
                                    *ngFor="let benefit of benefits.controls; let i = index">
                                    <div class="col-md-10">
                                        <input type="text" [formControlName]="i" class="form-control"
                                            placeholder="Enter Skill" />
                                    </div>
                                    <div class="col-md-2">
                                        <button type="button" class="btn btn-danger"
                                        [hidden]="editJobForm.disabled" (click)="removeBenefit(i)">Remove</button>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-primary"  [hidden]="editJobForm.disabled" (click)="addBenefit()">Add Skill</button>
                            </div>
                        </div>

                        <div class="border-top mt-4 pt-4">
                            <h3>Languages</h3>
                            <div id="languages-container">
                                <div class="row mb-3" formArrayName="languages"
                                    *ngFor="let language of languages.controls; let i = index">
                                    <div class="col-md-10">
                                        <input type="text" [formControlName]="i" class="form-control"
                                            placeholder="Enter Language" />
                                    </div>
                                    <div class="col-md-2">
                                        <button type="button" class="btn btn-danger"
                                        [hidden]="editJobForm.disabled" (click)="removeLanguage(i)">Remove</button>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-primary"  [hidden]="editJobForm.disabled" (click)="addLanguage()">Add
                                    Language</button>
                            </div>
                        </div>

                        <button class="btn btn-primary mt-2" *ngIf=" mayEdit()" [disabled]="!editJobForm.valid"
                        [hidden]="editJobForm.disabled" (click)="onSubmit()">Update</button>
                    </form>

                </div>

            </div>
        </div>
    </div>
    <div class="container mt-4" *ngIf="mayEdit()">
        <h1>Applicants</h1>
        <table class="table">
        
            <thead>
              <tr>
                <th scope="col">Full Name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone</th>
                <th scope="col">Address</th>
                <th scope="col">Profile Title</th>
                <!-- <th scope="col">Actions</th> -->
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of job.applicants" [routerLink]="['/users', user.id]" class="pointer">
                <td data-label="Full Name">{{ user.firstName || '' }} {{ user.lastName || '' }}</td>
                <td data-label="Email">{{ user.email || '' }}</td>
                <td data-label="Phone">{{ user.phone || '' }}</td>
                <td data-label="Address">{{ user.address?.street || '' }} {{ user.address?.postalCode || '' }} {{ user.address?.city || '' }}, {{ user.address?.country || '' }}</td>
                <td data-label="Profile Title">{{ user.profileTitle || '' }}</td>
                <!-- <td>
                  <button type="button" class="btn btn-primary" (click)="sendInterview(user.email!)">Send interview mail</button>
                </td> -->
              </tr>
            </tbody>
          </table>
    </div>
    
</section>