
  
  <div class="auth-container d-flex justify-content-center align-items-center vh-100" *ngIf="token">
    <div class="auth-form shadow p-4 rounded bg-white">
      <h2 class="mb-4 text-center">Reset Password</h2>
      <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
        <div class="form-group mb-3">
          <label for="newPassword" class="form-label">New Password</label>
          <input type="password" id="newPassword" class="form-control" formControlName="newPassword"  required>
        </div>
       
        <button type="submit" class="btn btn-primary w-100">Reset Password</button>
      </form>
     
      <div *ngIf="message" class="alert form-label alert-success" >
        {{ message }}
       </div>
    </div>
  </div>
  