<div class="auth-container d-flex justify-content-center align-items-center vh-100">
    <div class="auth-form shadow p-4 rounded bg-white">
      <h2 class="mb-4 text-center">Forget password</h2>
      <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
        <div class="form-group mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" id="email" class="form-control"formControlName="email" name="email" required>
        </div>
       
        <button type="submit" class="btn btn-primary w-100">Send Reset Link</button>
      </form>
      <div *ngIf="message" class="alert form-label alert-success" >
       {{ message }}
      </div>
      <div *ngIf="errorMessage" class="alert form-label alert-danger" >
        {{ errorMessage }}
       </div>
    </div>
  </div>
  