<div class="border-top mt-4 pt-4">
    <h3>Experiences</h3>
    <div id="experiences-container">
        <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
        <div class="experience-entry" *ngFor="let experience of experienceControls; let i = index">
            <div class="row mb-3">
                <div class="col-md-6">
                    <label class="mb-2">Job Title</label>
                    <input type="text" [formControl]="jobTitle(i)"  [ngClass]="{'is-invalid': !jobTitle(i).valid && jobTitle(i).touched }" class="form-control"/>
                    <div *ngIf="!jobTitle(i).valid && jobTitle(i).touched" class="text-danger">
                        Job title is required.
                      </div>
                </div>
                <div class="col-md-6">
                    <label  class="mb-2">Company Name</label>
                    <input type="text" [formControl]="companyName(i)"  [ngClass]="{'is-invalid': !companyName(i).valid && companyName(i).touched }" class="form-control"/>
                    <div *ngIf="!companyName(i).valid && companyName(i).touched" class="text-danger">
                        Company  name is required.
                      </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <label  class="mb-2">Start Date</label>
                    <input
                     type="date" [formControl]="startDate(i)"
                     class="form-control experience-start-date" 
                     [ngClass]="{'is-invalid': !startDate(i).valid && startDate(i).touched }"
                    />
                    <div *ngIf="!startDate(i).valid && startDate(i).touched" class="text-danger">
                        Start date is required.
                      </div>
                </div>
                <div class="col-md-6">
                    <label  class="mb-2">End Date</label>
                    <input
                     type="date"
                     [formControl]="endDate(i)"
                     class="form-control experience-end-date"
                     [ngClass]="{'is-invalid': !endDate(i).valid && endDate(i).touched }"
                     />
                     <div *ngIf="!endDate(i).valid && endDate(i).touched" class="text-danger">
                        Start date is required.
                      </div>
                </div>
            </div>
            <div class="mb-3">
                <label  class="mb-2">RoleDescription</label>
                <textarea 
                [formControl]="roleDescription(i)" 
                class="form-control"
                [ngClass]="{'is-invalid': !roleDescription(i).valid && roleDescription(i).touched }">
                </textarea>
                <div *ngIf="!roleDescription(i).valid && roleDescription(i).touched" class="text-danger">
                    Role description is required.
                </div>
            </div>
            <div class="text-end">
                <button type="button" [hidden]="formDisabled" (click)="removeExperience(i)" class="btn btn-danger remove-experience">
                    Remove
                </button>
            </div>
        </div>
    </div>
    <button type="button" [hidden]="formDisabled" (click)="addExperience()" class="btn btn-primary mt-2 add-experience">
        Add Experience
    </button>
</div>
